.container.contact__container{
    display: flex;
    gap: 12%
}
.contact__options h4{
    color: white;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 35%;
}
.contact__option{
    background: var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.contactOption__icon{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: white;
}
 .contact__option a{
    margin-top: 0.8rem;
    display: inline-block;
    font-size: 0.7rem;
 }



 form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    width: 58%;
    margin-bottom: 7rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 3px solid var(--color-primary-variant);
    resize: none;
    color: white

}
@media screen and (max-width:1024px) {
    .container.contact__container{
        flex-direction: column;
        align-items: center;
        gap: 2rem
    }
    
    .contact__options, form{
        
        width: 60%;
    }

}

@media screen and (max-width:600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }

    .contact__options, form{
        
        width: 90%;
    }
}